@import'../../../index.scss';
.button-base{
    color: $white-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 0.3rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

button[type="submit"] {
    background-color: $black-color;
}

.black-button{
    background-color: $black-color;
}

.ash-button{
    background-color: $gray-light-color;
    color: $black-color;
}  
