@import '../../../index.scss';

.container-main {
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  height: 100vh;
  background-color: $white-color;
}

.column1 {
  grid-area: span 1;
  overflow: hidden;
}

.column2{
  grid-area: span 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-color;
}
