@import "../../../index.scss";
.left-div {
    width: 100%;
    height: 75vh;
    min-height: 650px;
    background-color: $gray-lighter-color;
    margin-top: 75px;
    .content {
        padding: 10rem 0 0 10rem;
        position: relative;
        height: 100%;
        width: 100%;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            position: relative;
            z-index: 1;
        }
        .rounded-square {
            position: absolute;
            left: 50%;
            transform: translate(-75%);
            bottom: 0;
            height: 30rem;
            width: 28rem;
            background-color: $white-color;
            border-radius: 50% 50% 0 0;
        }
    }
}
.right-div {
    width: 100%;
    height: 75vh;
    min-height: 650px;
    position: relative;
    background-color: $white-color;
    margin-top: 75px;
    .content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white-color;
        height: 30rem;
        width: 30rem;
        box-shadow:
            rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 10px;
        padding: 5rem;
    }
}

.img-div {
    position: absolute;
    bottom: 0;
    left: 65%;
    transform: translate(-75%);
    img {
        height: 60vh;
        min-height: 600px;
    }
}
