@import '../../../index.scss';
.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
    input[type="password"]{
        background-color: $gray-dark-color;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 0.3rem;
        width:100%;
    }
    label {
        font-size: 14px;
        font-weight: 600;
    }
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 1px;
  }

  .pass-field{
    position: relative;
  }
  
  .show-password-button{
    position: absolute;
    right: 0;
    top: 63%;
    transform: translateY(-50%);
    margin-right: 8px;
    cursor: pointer;
  }